.album-name-invitation {
  margin: 5%;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
}

.invitations-container {
  width: 80%;
  margin: 0% 10%;
}

.invitation-block {
  display: flex;
  justify-content: space-between;
}
