.btn-projecureuil {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  margin: 7%;
}

.btn-projecureuil:hover {
  a {
    text-decoration: none;
  }
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  margin: 7%;
}



.albums-index-title {
  color: $orange;
  text-align: center;
}

