// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "album_card";

body {
  background-color: rgb(158, 228, 191);
}

.container-border {
  border: 1px solid black;
  background-color: white;
}
