<div class="container">

  <%= simple_form_for [@album, @invitation] do |f| %>
    <%= f.input :email, label: "Email" %>
    <%= f.hidden_field :album_id, value: @invitation.album_id%>
    <%= f.button :submit, class: "btn btn-primary btn-projecureuil" %>
  <% end %>
</div>
