<div class="container">
  <div class="invitations-container" id="invitations">
    <% @invitations.each do |invitation| %>
      <%= render "invitation", invitation: invitation  %>
    <% end %>
  </div>

  <h1> Ajouter des Ecureuils :</h1>

  <%= render 'invitations_form' %>

</div>
