
<div class="container">
  <h1>Albums</h1>
  <% @albums.each do |album| %>
    <div class="album-container"> <%=link_to "#{album.name}", album_path(album)  %></div>
  <% end %>
</div>
<div class="text-center">
  <div class="btn btn-danger">
    <%= link_to 'Créer un album', new_album_path %>
  </div>
</div>
<p>Find me in app/views/albums/index.html.erb</p>
