
<div class="container container-border">
  <h1>Albums</h1>
    <div class="row albums-container">
      <% @albums.each do |album| %>
        <div class="col-xs-12 col-md-6 text-center">
          <div class="album-card-container">
            <%=link_to "#{album.name}", album_path(album)%>
          </div>
        </div>
      <%end%>
  </div>
</div>

<div class="text-center">
  <div class="btn btn-danger">
    <%= link_to 'Créer un album', new_album_path %>
  </div>
</div>
<p>Find me in app/views/albums/index.html.erb</p>
